.container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding-bottom: 2rem;
  .title {
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 100%;
    color: white;
  }
  .orders {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  .challenge {
    display: flex;
    flex-direction: column;
    padding: 20px;
    align-items: center;
    border-radius: 15px;
    color: white;
    max-width: 740px;
    margin: auto;
    gap: 1.5rem;
    backdrop-filter: blur(60px);
     @media screen and (max-width: 500px) {
      padding: 0px;
    }
    .icon {
      width: 53px;
      height: 53px;
      padding: 10px;
    }
    .title {
      border-radius: 10px;
      padding: 10px;
      font-size: 18px;
      font-style: normal;
      font-weight: 700;
    }
    p {
      font-size: 14px;
      text-align: center;
      color: #a0aec0;
      @media screen and (max-width: 500px) {
        max-width: 100%;
        width: 100%;
        text-align: start;
      }
    }
    .division {
      height: 1px;
      width: 100%;background: rgba(255, 255, 255, 0.24);
    }
    .buy {
      color: white;
      border: none;
      padding: 5px 40px;
      border-radius: 12px;
      height: 34px;
      width: 159px;
      font-size: 14px;
      font-style: normal;
      font-weight: 700;
      line-height: 150%;
      background: #0075ff;
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;
      @media screen and (max-width: 850px) {
        max-width: 300px;
        width: 100%;
      }
      @media screen and (max-width: 500px) {
        max-width: 100%;
        width: 100%;
      }
    }
  }
}
