$color-btns-dark: #007CFF;
$color-azul-impulse1-dark: #009DFF;
$color-azul-impulse3-dark: #0044A9;
$color-azul-impulse4-dark: #062B63;
$color-fondo-login-dark:linear-gradient(159.02deg, #007CFF 14.25%, #0044A9 56.45%, #062B63 86.14%);
$color-items-dark: linear-gradient(126.97deg, rgba(6, 11, 38, 0.74) 28.26%, rgba(6, 43, 99, 0.5) 91.2%);






