.container {
  border-radius: 15px;
  margin-top: 1rem;
  padding-top: 20px;
  background: linear-gradient(124.01deg, rgba(6, 11, 40, 0.88) 18.24%, rgba(6, 43, 99, 0.71) 86.24%);
  height: 411px;
  width: 100%;
}
