.conditions {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-top: auto;
  margin-bottom: 2rem;
  .condition {
    display: flex;
    gap: 0.3rem;
    label {
      display: flex;
      flex-wrap: wrap;
      margin-left: 0rem;
      padding-left: 0rem;
      gap: 0.3rem;
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
    }
    input {
      align-self: flex-start;
      margin-top: 3px;
    }
  }
}
