.details {
  display: grid;
  // grid-column-gap: 60px;
  // padding: 0px 40px;
  // @media screen and (max-width: 1000px) {
  //   display: flex;
  //   flex-wrap: wrap;
  //   padding: 0px;
  // }
  // .detail {
  //   display: flex;
  //   flex-direction: column;
  //   height: 61px;
  //   order: 1;
  //   width: 100%;
  //   &.variant {
  //     @media screen and (max-width: 1000px) {
  //       margin-left: 10px;
  //       order: 2;
  //     }
  //   }
  //   @media screen and (max-width: 1000px) {
  //     margin-left: 10px;
  //   }
  //   .info {
  //     display: flex;
  //     justify-content: space-between;
  //     font-size: 14px;
  //     font-style: normal;
  //     font-weight: 500;
  //     line-height: 140%;
  //     flex-grow: 1;
  //     display: flex;
  //     align-items: center;
  //     width: 100%;
  //     &.variant {
  //       display: flex;
  //       align-items: center;
  //       justify-content: space-between;
  //       border-radius: 15px;
  //       font-size: 18px;
  //       font-style: normal;
  //       font-weight: 700;
  //       line-height: 140%;
  //       border-radius: 15px;
  //       background: linear-gradient(
  //         170deg,
  //         #007cff 0%,
  //         #0150bb 33.14%,
  //         rgba(6, 11, 40, 0.47) 83.1%
  //       );
  //       padding: 0px 20px;
  //       height: 61px;
  //       margin-top: auto;
  //     }
  //   }
  // }
  display: flex;
  gap: 5rem;
  @media screen and (max-width: 1000px) {
    gap: 0;
    flex-direction: column;
  }
  .colum {
    flex-grow: 1;
    .field {
      display: flex;
      flex-direction: column;
      height: 61px;
      &.variant {
        font-size: 18px;
        background: linear-gradient(
          170deg,
          #007cff 0%,
          #0150bb 33.14%,
          rgba(6, 11, 40, 0.47) 83.1%
        );
        border-radius: 15px;
        div {
          span {
            font-style: normal;
            font-weight: 700;
            line-height: 140%;
            border-radius: 15px;
          }
        }
      }
      div {
        flex-grow: 1;
        display: flex;
        align-items: center;
        padding: 0px 30px;
        justify-content: space-between;
        span {
          font-size: 14px;
          font-style: normal;
          font-weight: 500;
          line-height: 140%;
        }
      }
    }
  }
}
