.container {
  background: linear-gradient(
    70deg,
    rgba(255, 255, 255, 0) 0.01%,
    rgba(255, 255, 255, 0.04) 100%
  );
  backdrop-filter: blur(21px);
  border: 2px solid;
  border: 0.5px solid;
  border-radius: 15px;
  border-image-source: radial-gradient(
    69.43% 69.43% at 50% 50%,
    #ffffff 0%,
    rgba(255, 255, 255, 0) 100%
  );
  background: radial-gradient(
      69.43% 69.43% at 50% 50%,
      #ffffff 0%,
      rgba(255, 255, 255, 0) 100%
    ),
    linear-gradient(
      118.36deg,
      rgba(255, 255, 255, 0.01) -3.34%,
      rgba(255, 255, 255, 0.049) 124.41%
    );
  position: relative;
  img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    padding: 2px;
    border-radius: 12px;
  }
}
