.form {
  display: flex;
  justify-content: flex-start;
  max-height: 707px;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  border-radius: 15px;
  border: solid 1px #a0aec0;;
  justify-content: center;
  gap: 2rem;
  padding: 0px 15%;
  color: white;
  @media screen and (max-height: 700px) {
    padding: 4rem;
  }
  @media screen and (max-width: 1220px) {
    padding: 4rem;
    height: 500px;
  }
  .title {
    font-size: 24px;
    font-weight: 700;
    line-height: 31px;
    letter-spacing: 0em;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-self: center;
  }
  .btn {
    background: #007cff;
    border-radius: 12px;
    padding: 10px;
    border: none;
    color: white;
    font-size: 10px;
    font-weight: 700;
    line-height: 15px;
    letter-spacing: 0em;
    text-align: center;
    text-transform: uppercase;
    max-width: 350px;
    height: 42px;
    &.able {
      cursor: pointer;
    }
  }
  .field {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    input {
      width: 100%;
      padding: 10px 20px;
      border-radius: 15px;
      background-color: transparent;
      border: solid 1px #a0aec0;;
      font-size: 14px;
      font-weight: 500;
      line-height: 20px;
      letter-spacing: 0em;
      text-align: left;
      color: #a0aec0;
      outline: none;
      height: 40px;
      &::placeholder {
        font-family: unset;
        color: #a0aec0;
      }
    }
  }
  .extra {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    span {
      font-weight: 400;
      color: #a0aec0;
      display: block;
    }
    a {
      font-size: 700;
      display: inline-block;
      font-weight: 500;
    }
  }
}
